{
	"parser": "@babel/eslint-parser",
	"extends": ["airbnb"],
	"env": {
        "browser": true,
        "node": true,
		"es2021": true
    },
	"rules": {
		"linebreak-style": 0,
		"no-param-reassign": 0,
		"operator-linebreak": ["error", "after"],
		"no-useless-concat": 0,
		"guard-for-in": 0,
		"no-restricted-syntax": 0
	}
  }