.keyboard {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard-textarea {
  border-radius: 3px;
  padding: 10px;
  resize: none;
  outline: none;
  font-size: 16px;
  letter-spacing: .05rem;
  height: 200px;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.keyboard-textarea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}

.keyboard-textarea::-webkit-scrollbar-thumb {
  background-color: #3554ef;
  height: 5px;
  border-radius: 2px;
}

.row-wrap {
  display: flex;
  gap: 8px;
}

.row:last-child {
  width: 810px;
}

.key {
  flex: 1;
  min-width: 48px;
  position: relative;
  user-select: none;
  text-align: center;
  padding: 15px;
  color: white;
  font-weight: 500;
  border-radius: 3px;
  background-color: #50525b;
  transition: .1s ease-out;
}

.key:hover {
  cursor: pointer;
  background-color: rgba(28, 43, 116, 0.686);
  color: white;
}

.key:nth-child(7) .digit-back {
  top: 0;
  font-size: 16px;
}

.rss-description {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: justify;
}

.key-space {
  flex: 100%;
}

.hide {
  display: none;
}

.hide-lang-change {
  display: none;
}

.key-tab,
.key-del,
.key-backspace,
.key-caps,
.key-shift,
.key-enter {
  flex: 100%;
}

.key-tab,
.key-del,
.key-backspace,
.key-caps,
.key-shift,
.key-enter,
.key-ctrl,
.key-win,
.key-alt,
.key-space,
.key-arrow-up,
.key-arrow-down,
.key-arrow-right,
.key-arrow-left {
  background-color: #353642;
  color: #d9d9d9;
}

.key-ctrl,
.key-win,
.key-alt {
  min-width: 60px;
}

.caps-highlight,
.key-pressed {
  background-color: #3554ef;
  color: white;
  transform: scale(0.95);
}

.caps-highlight:hover,
.key-pressed:hover {
  cursor: pointer;
  background-color: #3554ef;
}

.caps-highlight::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

.uppercase-on {
  text-transform: uppercase;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
}
